@model SoftwareGrid.DataLogic.Models.VendorSupplierDiversityCertificationCategory

@{
    ViewBag.Title = "Vendor Supplier Diversity Certification Category";
}
<div class="flat_area grid_16">
<h2>Vendor Supplier Diversity Certification Category</h2>
</div>
@using (Html.BeginForm()) {
	<div class="box grid_16">
	    <div class="block">
	        <h2 class="box_head">
	            Vendor Supplier Diversity Certification Category</h2>

			@Html.Partial("_CreateOrEdit", Model)
			<div class="form-item">
			    @Html.ActionLink("Back to List", "Index")
		    </div>
		</div>
	</div>
}

