@model IEnumerable<SoftwareGrid.DataLogic.Models.ApplicantRecruitmentTeam>
@using EasySoft.Helper;
@{
    ViewBag.Title = "Applicant Recruitment Team";
    Layout = "_LayoutATS";
}
<div class="flat_area grid_16">
    <h2>Applicant Recruitment Team List</h2>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
</div>
		Exception Object reference not set to an instance of an object.
	
