@model IEnumerable<SoftwareGrid.DataLogic.Models.RequisitionClientTeam>
@using EasySoft.Helper;
@{
    ViewBag.Title = "Requisition Client Team";
    Layout = "_LayoutRequisition";
}
<div class="flat_area grid_16">
    <h2>Requisition Client Team List</h2>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
</div>
<div style="clear:both;"></div>
<div class="box grid_16">
@(Html.Telerik().Grid(Model)
    .Name("Grid")
    .DataKeys(keys => keys.Add(c => c.RequisitionClientTeamID))
    .Columns(columns =>
                    {   
                        columns.AutoGenerate(column =>
                                                {
                                                    if (column.Member == "RequisitionClientTeamID")
                                                        column.Visible = false;
                                                });
						columns.Template(
							                @<text>
							                    <center>
							                        <a href="@Url.Action("Edit", "RequisitionClientTeam", new { id = @item.RequisitionClientTeamID })" title="Edit"><img alt="Edit"  src="/content/images/edit.png" /></a>
							                    </center>
							                </text>
							            ).HeaderTemplate(
							                @<text>
							                    <center>
							                        <span>Edit</span>
							                    </center>
							                </text>
							            ).Width("10px");
							            columns.Template(
							                @<text>
							                    <center>
							                        <a href="/RequisitionClientTeam/Delete/@item.RequisitionClientTeamID" title="Delete" onclick="return confirmSubmit()"><img alt="Edit"  src="/content/images/delete.png" /></a>
							                    </center>
							                </text>
							            ).HeaderTemplate(
							                @<text>
							                    <center>
							                        <span>Delete</span>
							                    </center>
							                </text>
							            ).Width("10px");
                    })
    .Sortable()
    .Pageable()
) 
</div>

