@model SoftwareGrid.DataLogic.Models.ApplicantSubmissionInfo

@{
    ViewBag.Title = "Applicant Submission Info";
    Layout = "_LayoutATS";
}

<div class="flat_area grid_16">
	<h2>Applicant Submission Info</h2>
</div>

@using (Html.BeginForm()) {
	<div class="box grid_16">
	    <div class="block">
	        <h2 class="box_head">
	            Applicant Submission Info</h2>
						        @Html.HiddenFor(model => model.ApplicantSubmissionWithoutRequisitionID)
						@Html.Partial("_CreateOrEdit", Model)
			<div class="form-item">
			    @Html.ActionLink("Back to List", "Index")
		    </div>
		</div>
	</div>
}
