@model SoftwareGrid.DataLogic.Models.Requisition

@{
    ViewBag.Title = "Requisition";
}

<div class="flat_area grid_16">
	<h2>Requisition</h2>
</div>

@using (Html.BeginForm()) {
	<div class="box grid_16">
	    <div class="block">
	        <h2 class="box_head">
	            Requisition</h2>
						        @Html.HiddenFor(model => model.RequisitionID)
						@Html.Partial("_CreateOrEdit", Model)
			<div class="form-item">
			    @Html.ActionLink("Back to List", "Index")
		    </div>
		</div>
	</div>
}
