<script type="text/javascript" src="@Url.Content("~/App_Theme/scripts/isotope/jquery.isotope.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/App_Theme/scripts/fancybox/jquery.fancybox-1.3.4.js")"></script>
<script type="text/javascript" src="@Url.Content("~/App_Theme/scripts/adminica/adminica_gallery.js")"></script>
<div id="loading_overlay">
    <div class="loading_message round_bottom">
        <img src="/App_Theme/images/loading.gif" alt="loading" />
    </div>
</div>
<div id="template_options" class="clearfix">
    <h3>
        <img src="/App_Theme/images/adminica.png" alt="Adminica"></h3>
    <div class="layout_size round_all">
        <label>Layout:</label>
        <a href="/AppDesigner/AppLayout?id=switcher.css">Fluid</a><span>|</span> 
        <a href="/AppDesigner/AppLayout?id=layout_fixed.css">Fixed</a><span>|</span>
    </div>
    <div class="layout_position round_all">
        <label class="display_none">Header:</label>
        <a href="/AppDesigner/AppHeader?id=switcher.css">Side</a><span>|</span>
        <a href="/AppDesigner/AppHeader?id=header_top.css">Top</a><span>|</span>
        <a href="/AppDesigner/AppHeader?id=header_slideout.css">Slide</a>
    </div>
    <div class="layout_position round_all">
        <label>Theme:</label>
        <a href="/AppDesigner/AppTheme?id=dark.css">Dark</a><span>|</span>
        <a href="/AppDesigner/AppTheme?id=theme_light.css">Light</a>
    </div>
    <div class="theme_colour round_all">
        <label class="display_none">Colour:</label>
        <a class="black" href="/AppDesigner/AppColour?id=switcher.css"><span>Black</span></a>
        <a class="blue" href="/AppDesigner/AppColour?id=theme_blue.css"><span>Blue</span></a>
        <a class="navy" href="/AppDesigner/AppColour?id=theme_navy.css"><span>Navy</span></a>
        <a class="red" href="/AppDesigner/AppColour?id=theme_red.css"><span>Red</span></a>
        <a class="green" href="/AppDesigner/AppColour?id=theme_green.css"><span>Green</span></a>
        <a class="magenta" href="/AppDesigner/AppColour?id=theme_magenta.css"><span>Magenta</span></a>
        <a class="orange" href="/AppDesigner/AppColour?id=theme_brown.css"><span>Brown</span></a>
    </div>
    <div class="theme_background round_all" id="bg_dark">
        <label>Dark BGs:</label>
        <a href="/AppDesigner/AppDarkBG?id=switcher.css">Boxes</a><span>|</span>
        <a href="/AppDesigner/AppDarkBG?id=bg_punched.css">Punched</a><span>|</span>
        <a href="/AppDesigner/AppDarkBG?id=bg_honeycomb.css">Honeycomb</a><span>|</span>
        <a href="/AppDesigner/AppDarkBG?id=bg_wood.css">Wood</a><span>|</span>
        <a href="/AppDesigner/AppDarkBG?id=bg_dark_wood.css">Timber</a><span>|</span>
        <a href="/AppDesigner/AppDarkBG?id=bg_noise.css">Noise</a>
    </div>
    <div class="theme_background round_all" id="bg_light">
        <label>Light BGs:</label>
        <a href="/AppDesigner/AppLightBG?id=switcher.css">Silver</a><span>|</span>
        <a href="/AppDesigner/AppLightBG?id=bg_white_wood.css">Wood</a><span>|</span>
        <a href="/AppDesigner/AppLightBG?id=bg_squares.css">Squares</a><span>|</span>
        <a href="/AppDesigner/AppLightBG?id=bg_noise_zero.css">Noise</a><span>|</span>
        <a href="/AppDesigner/AppLightBG?id=bg_stripes.css">Stripes</a>
    </div>
</div>
