@model SoftwareGrid.DataLogic.Models.ContactProfessionType

@{
    ViewBag.Title = "Contact Profession Type";
}

<div class="flat_area grid_16">
	<h2>Contact Profession Type</h2>
</div>

@using (Html.BeginForm()) {
	<div class="box grid_16">
	    <div class="block">
	        <h2 class="box_head">
	            Contact Profession Type</h2>
						        @Html.HiddenFor(model => model.ContactProfessionTypeID)
						@Html.Partial("_CreateOrEdit", Model)
			<div class="form-item">
			    @Html.ActionLink("Back to List", "Index")
		    </div>
		</div>
	</div>
}
