@model SoftwareGrid.DataLogic.Models.ContactFolderContact

@{
    ViewBag.Title = "Contact Folder Contact";
}
<div class="flat_area grid_16">
    <h2>
        Contact Folder Contact</h2>
</div>
<div class="box grid_16">
    <div class="block">
        <h2 class="box_head">
            Are you sure you want to delete this?</h2>
@using (Html.BeginForm()) {
	<fieldset>
				<div class="form-item">
		    <label>ContactFolder</label>
		    <div class="display-field">@Html.DisplayTextFor(_ => Model.ContactFolder).ToString()</div>
		</div>
				<div class="form-item">
		    <label>Company</label>
		    <div class="display-field">@Html.DisplayTextFor(_ => Model.Company).ToString()</div>
		</div>
				<div class="form-item">
		    <label>Contact</label>
		    <div class="display-field">@(Model.Contact == null ? "None" : Model.Contact.LastName)</div>
		</div>
				<div class="form-item">
	<div class="button_bar clearfix">
			<button class="green" type="submit">
				<span>Delete</span>
			</button>
		</div>
	</div>
	</fieldset>
}
	</div>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
	
