@model SoftwareGrid.DataLogic.Models.EmploymentStatus

@{
    ViewBag.Title = "EmploymentStatus";
}

<div class="flat_area grid_16">
    <h2>
        Employment Status</h2>
</div>

<div class="box grid_16">
    <div class="block">
        <h2 class="box_head">
            Employment Status</h2>
		<fieldset>

    <label>Name</label>
    <div class="display-field">@Model.Name</div>
		</fieldset>
	</div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.EmploymentStatusID }) |
    @Html.ActionLink("Back to List", "Index")
</p>


