@model SoftwareGrid.DataLogic.Models.VendorAddress

@{
    ViewBag.Title = "Vendor Address";
    Layout = "~/Views/Shared/_LayoutVMS.cshtml";
}

<div class="flat_area grid_16">
	<h2>Vendor Address</h2>
</div>

@using (Html.BeginForm()) {
	<div class="box grid_16">
	    <div class="block">
	        <h2 class="box_head">
	            Vendor Address</h2>
						        @Html.HiddenFor(model => model.VendorAddressID)
									@Html.HiddenFor(model => model.VendorID)
						@Html.Partial("_CreateOrEdit", Model)
			<div class="form-item">
									@Html.ActionLink("Back to List", "Index",new { vendorId = ViewBag.VendorId })
						    </div>
		</div>
	</div>
}
