@model SoftwareGrid.DataLogic.Models.OrganizationBankInfo

@{
    ViewBag.Title = "Organization Bank Info";
    Layout = "~/Views/Shared/_LayoutOrganization.cshtml";
}

<div class="flat_area grid_16">
	<h2>Organization Bank Info</h2>
</div>

@using (Html.BeginForm()) {
	<div class="box grid_16">
	    <div class="block">
	        <h2 class="box_head">
	            Organization Bank Info</h2>
						        @Html.HiddenFor(model => model.OrganizationBankInfoID)
									@Html.HiddenFor(model => model.OrganizationID)
						@Html.Partial("_CreateOrEdit", Model)
			<div class="form-item">
									@Html.ActionLink("Back to List", "Index",new { organizationId = ViewBag.OrganizationId })
						    </div>
		</div>
	</div>
}
