@model IEnumerable<SoftwareGrid.DataLogic.Models.RequisitionSkillsExpertiseEducationMatchingMatrix>
@using EasySoft.Helper;
@{
    ViewBag.Title = "Requisition Skills Expertise Education Matching Matrix";
    Layout = "_LayoutRequisition";
}
<div class="flat_area grid_16">
    <h2>Requisition Skills Expertise Education Matching Matrix List</h2>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
</div>
		Exception Object reference not set to an instance of an object.
	
