@model IEnumerable<SoftwareGrid.DataLogic.Models.AppMenuCategory>
@using EasySoft.Helper;
@{
    ViewBag.Title = "App Menu Category";
}
<div class="flat_area grid_16">
    <h2>App Menu Category List</h2>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
</div>
<div style="clear:both;"></div>
<div class="box grid_16">
@(Html.Telerik().Grid(Model)
    .Name("Grid")
    .DataKeys(keys => keys.Add(c => c.AppMenuCategoryID))
    .Columns(columns =>
                    {   
                        columns.AutoGenerate(column =>
                                                {
                                                    if (column.Member == "AppMenuCategoryID")
                                                        column.Visible = false;
                                                });
						columns.Template(
							                @<text>
							                    <center>
							                        <a href="@Url.Action("Edit", "AppMenuCategory", new { id = @item.AppMenuCategoryID })" title="Edit"><img alt="Edit"  src="/content/images/edit.png" /></a>
							                    </center>
							                </text>
							            ).HeaderTemplate(
							                @<text>
							                    <center>
							                        <span>Edit</span>
							                    </center>
							                </text>
							            ).Width("10px");
							            columns.Template(
							                @<text>
							                    <center>
							                        <a href="/AppMenuCategory/Delete/@item.AppMenuCategoryID" title="Delete" onclick="return confirmSubmit()"><img alt="Edit"  src="/content/images/delete.png" /></a>
							                    </center>
							                </text>
							            ).HeaderTemplate(
							                @<text>
							                    <center>
							                        <span>Delete</span>
							                    </center>
							                </text>
							            ).Width("10px");
                    })
    .Sortable()
    .Pageable()
) 
</div>

